.brax-glass-container {
  position: relative;
  height: 80%;
  margin: 0 auto;
  top: 10%;
}

.brax-glass-container * {
  width: 100%;
  height: 100%;

  left: 0;

  position: absolute;

  background-position: bottom left;
  overflow: hidden;
}

.brax-glass-foreground {
  top: 0;
  z-index: 3;
  background-position: top left;
  background-image: url('./../img/glass-foreground.png');
}

.brax-glass-border {
  top: 0;
  z-index: 4;
  background-image: url('./../img/glass-border.png');
  background-size: 100%;
}

.brax-glass-foam {
  top: 0;
  z-index: 2;
  background-image: url('./../img/glass-foam.png');
  background-position: top left;
}

.brax-glass-content {
  bottom: 0;
  z-index: 2;
  background-image: url('./../img/blonde-background.png');
}