* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  width: 100%;
  height: 100%;

  position: relative;
  
  background-color: beige;
}

#glass-slider {
  position: absolute;
}

